body {
    margin: 0;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #282634;
}
::-webkit-scrollbar-thumb {
    background-color: white;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #c88ea7;
}
#page {
    background-color: #85586F;
    font-family: "Baskerville Old Face", sans-serif;
    position: relative;
    width: 100%;
    padding-top: 100px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    z-index: 1;
    background-color: #85586F;
}
.header .first, .third{
    flex: 0.7;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first img {
    width: 70%;
}
.third img {
    width: 40%;
}
li a img {
    width: 13%;
}
li:last-of-type a img {
    width: 10%;
}
.abs {
    flex: 2;
    text-align: center;
}
.header ul li {
    list-style: none;
    display: inline;
    margin-right: 10%;
}
.header ul li:first-of-type a {
    background-color: #c88ea7;
}
.header ul li:nth-of-type(2) a {
    background-color: white;
}
.header ul li:last-of-type a {
    background-color: #424f5e;
}
a {
    box-shadow: inset 0 0 0 0 #282634;
    padding: 0.4vw 0.5vw;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a:hover {
    box-shadow: inset 10vw 0 0 0 #54b3d6;
}
#logo {
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 2;
}
#logo img {
    width: 10vw;
}
.front-page {
    height: 100%;
    padding: 3% 10%;
}
.front-page h2 {
    font-size: 5vw;
    color: #282634;
}
.front-page span a {
    font-style: italic;
    font-family: "Lucida Handwriting", sans-serif;
    background-color: #85586F;
    color: white;
    font-size: 5.5vw;
}
.front-page span a:hover {
    box-shadow: inset 50vh 0 0 0 #282634;
    color: white;
}

.image-fixed {
    margin: 12% 12% 2% 12%;
    height: 50vw;
    background-image: url("img/paint-blue-2.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.actual-content {
    position: absolute;
    margin: 15% 30%;
    height: 20vw;
    width: 23vw;
    border-radius: 50vw;
    padding: 5% 4%;
    background-color: rgba(248, 237, 227, 0.8);
    color: #282634;
}
.info {
    padding: 8% 5%;
    font-size: 1.4vw;
    text-align: center;
    width: 20vw;
}
.scroll-page .info span:last-of-type {
    font-size: 1vw;
    font-family: "Lucida Handwriting", sans-serif;
    font-style: italic;
}
.intro-text {
    margin-top: 7%;
    margin-bottom: 0;
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
}
.intro-text span a {
    font-size: 2.5vw;
    border-top: solid 2px #282634;
    background: #84586e;
}
.intro-text span a:hover {
    box-shadow: inset 50vh 0 0 0 #bdb8b1;
    color: #282634;
}



.background {
    margin: 2% 12% 2% 12%;
    height: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 1vw;
}
.background .row-1, .row-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container {
    position: relative;
}
.background img {
    width: 25vw;
}
.background .image {
    display: block;
    height: auto;
}

.background .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(132, 88, 110, 0.8);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
.container:hover .overlay {
    bottom: 0;
    height: 100%;
}
.background .text {
    color: white;
    font-family: "Lucida Handwriting", sans-serif;
    font-style: italic;
    font-size: 1.5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}




.last-part {
    background-image: url("img/paint-blue.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 50vw;
    margin: 10% 12%;
    display: flex;
    flex-direction: row;
    column-gap: 0;
    align-items: center;
}

.high-school {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5vw;
    background-color: rgba(252, 239, 197, 0.5);
    color: #282634;
}
.high-school p {
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
}
.high-school h2 span {
    font-size: 3vw;
    padding-left: 10%;
    padding-right: 10%;
}
.high-school span {
    font-size: 1.5vw;
    font-family: "Lucida Handwriting", sans-serif;
    font-style: italic;

}
.ending {
    flex: 1;
    height: 100%;
    background-color: rgba(11, 57, 80, 0.4);
    color: white;
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ending p {
    padding: 10%;
    align-items: center;
    text-align: center;
}
.ending span {
    font-family: "Lucida Handwriting", sans-serif;
    font-style: italic;
}


.footer {
    background-image: url("img/b (6).jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-blend-mode: lighten;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    z-index: 1;
}
.footer .bottom {
    margin-top: 0;
    text-align: center;
    padding-bottom: 10px;
    color: white;
}
.footer .other {
    margin-top: 5%;
    padding: 0 18% 0 15%;
}
.other ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    vertical-align: top;
    margin-bottom: 0;
}
.other ul li {
    list-style: none;
}
.other ul a {
    text-decoration: none;
    color: black;
    background-color: white;
    text-align: center;
    font-size: 1.5vw;
    border-top: #84586e solid 3px;
}
.other ul a:hover {
    box-shadow: inset 150px 0 0 0 #84586e;
    color: black;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #bdb8b1;
    font-size: 1.2vw;
    margin-top: 0;
    padding-inline-start: 40px;
    horiz-align: left;
}
.menu a {
    box-shadow: none;
    padding: 1%;
    color: #bdb8b1;
}
.menu a:hover {
    color: #84586e;
    transition: 0.1s;
}

.bottom hr {
    margin-top: 4%;
    border: solid 1px white;
    margin-left: 40vw;
    margin-right: 40vw;
}
.socials {
    margin: 0 30vw 1vw 30vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.socials img {
    width: 4vw;
}
.content h1 {
    margin-bottom: 0;
}




